* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
}
.firstButtom {

}
.div {
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;

}

h1 {
  color: white;
}

.buttons {
  width: 70%;
  background: gold;
  height: 80px;
  z-index: 1;
  top: 0;
  left: -100%;
  border-radius: 5px;
  color:aliceblue;
}